[Desktop Entry]
Name=Grimoji
Comment=Grimoji: Mix & Match Emojis - Gothic alchemy puzzle game
Exec=grimoji
Icon=${SNAP}/meta/gui/grimoji.png
Terminal=false
Type=Application
Categories=Game;Puzzle;
